extends layout

block content

        section( id='inicio' )
            div( class='container secundary content-section' )
                //div( class='row justify-content-md-center' )
                div( class='row' )
                    div( class='col-12 col-md-12' )
                        nav( class='breadcrumb' )
                            a( href='/' class='breadcrumb-item' ) Inicio
                            span( class='breadcrumb-item active' )= title
                    //div( class='col-12' )
                        h2= title
                        
                div( class='row justify-content-end filters blog' )                    
                    div( class='col-lg-2 col-md-4 col-sm-4' )
                            div( class='input-group  label-floating' )
                                label( class='control-label' ) POST POR PÃG.
                                select( class='numero' name='numero' class='form-control' )
                                    option( value='10', selected=true ) 10
                                    option( value='25', selected=pageSize == 25 ) 25
                                    option( value='50', selected=pageSize == 50 ) 50
                                    option( value='100', selected=pageSize == 100 ) 100
                                span( class='material-input' )
                    div( class='col-lg-2 col-md-4 col-sm-4' )
                            div( class='input-group  label-floating' )
                                label( class='control-label' ) ORDENAR POR
                                select( class='orden' name='orden' class='form-control' )
                                    option( value='fecha', selected=true ) FECHA
                                    option( value='title', selected=orden == 'title' ) TITULO
                                span( class='material-input' )
                    div( class='col-lg-1 col-md-4 col-sm-4' )
                            div( class='input-group' )
                                select( class='sort' name='sort' class='form-control' )
                                    option( value=-1 selected=true ) DESC
                                    option( value=1 selected=sort == 1 ) ASC
                                span( class='material-input' )
                                
                div( class='row' )
                    each post in posts
                        a( href='/posto/'+ post._id )
                        div( class='col-12 sep' ) 
                            div( class='crd card-plain card-blog' )
                                div( class='row' ) 
                                    div( class='col-md-4' data-aos='fade-right' )
                                        a( href='/posts/'+ post._id )
                                            div( class='card-image' )
                                                if( post.first_foto == undefined )
                                                    img( class='img img-raised' src='/img/default.png' )
                                                else
                                                    img( class='img img-raised' src='/files/'+post._id+'/thumb/'+post.first_foto )
                                    div( class='col-md-8' data-aos='fade-left' ) 
                                        a( href='/posts/'+ post._id )
                                            h5( class='card-title' )= post.title
                                        p( class='author' )= '    ' + moment( post.fecha ).format('dddd, DD [de] MMMM [de] YYYY') +'.    Publicado por   '
                                            a( href='javascript:void(0);' )=  post.author
                                        //p( class='card-description bodyyy' )= post.body
                                        != post.body.substring( 0, 500 )
                                        div( class='d-flex justify-content-end')
                                            a( href='/posts/'+post._id class='btn btn-def' ) Continuar leyendo
                                            
                div( class='row justify-content-md-center' )
                    div( class='col-md-12' )
                        if pageCount > 1
                            ul( class='pagination pagination-circle' )
                                if currentPage > 1
                                    li(class ='page-item')
                                        a( class='page-link' href= path + '?page=1&lim='+pageSize+'&order='+orden+'&sort='+sort aria-label='inicio' )
                                            i( class='material-icons' ) first_page
                                - var x = 1
                                if currentPage > 5
                                    - x = x + ( currentPage - 4 )
                                if (x !== 1)
                                    li(class ='page-item disabled' )
                                        a( class='page-link' href='#' ) ...
                                - for ( x; x <= pageCount; x++ )
                                    if( currentPage == x)
                                        li(class ='page-item active' )
                                            a( class='page-link' )
                                                = currentPage
                                    else
                                        li(class ='page-item')
                                            a( class='page-link' href= path + '?page='+x+'&lim='+pageSize+'&order='+orden+'&sort='+sort )
                                                = x
                                    if x == ( currentPage + 4 )
                                        li(class ='page-item disabled' )
                                            a( class='page-link' href='#' ) ...
                                                - break

                                if currentPage != pageCount
                                    li(class ='page-item')
                                        a( class='page-link' href= path + '?page='+Math.floor(pageCount)+'&lim='+pageSize+'&order='+orden+'&sort='+sort aria-label='Fin' )
                                            i( class='material-icons' ) last_page